@import "tailwindcss";
@import "tw-animate-css";


/* Utility to hide native scrollbars while keeping scroll behavior */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
